paho-mqtt

# Utility
pyaml-env

# Test
pytest
pytest-html

# perf test
locust
locust-plugins

# Guideline Enforcement
pylint
flake8
flake8-html

# Camera
opencv-python
matplotlib
pyzbar
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
